
@font-face {
    font-family: Simpsons;
    src: url(../fonts/simpsons/Simpsonfont.ttf);
}
@font-face {
    font-family: Akbar;
    src: url(../fonts/simpsons/akbar.ttf);
}
@font-face {
    font-family: Graffiti Akbar;
    src: url(../fonts/simpsons/design.graffiti.akbar.ttf);
}